.table-container {
    margin-top: 20px;
    width: 100%;
    overflow-x: auto;
    padding: 0 2rem 0 2rem;

    table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0;
        border: 1px solid #a7a7a7;
        border-radius: 0.5rem;
        z-index: 5;
    }
    
    th {
        background-color: #e3e3e3;
        color: #111827;
        font-weight: bold;
        text-align: left;
        padding: 8px;
        border-bottom: 1px solid #a0a0a0;
        border-right: 1px solid #a0a0a0;
    }

    th:nth-last-child(2) {border-right:none;}
    
    th:last-of-type {
        border-right: none;
        border-radius: 0 0.5rem 0 0;
        min-width: 3rem;
    }

    
    td:nth-last-child(2) {border-right:none;}

    td {
        color: #333333;
        padding: 12px;
        border-bottom: 1px solid #a0a0a0;
        border-right: 1px solid #a0a0a0;
        overflow: hidden;
        white-space: nowrap;
    }

    td:last-of-type {
        border-right: none;
        white-space: normal;
        .edit,.trash { opacity: 0; }
    }
    
    tr:hover {
        background-color: #F3F4F6;
        .edit,.trash { opacity: 1; }
    }
    
    tr:nth-child(even) {
        background-color: #eaeaea;
    }

    tr:last-of-type {
        td { border-bottom: none; }
        td:first-of-type {border-radius: 0 0 0 .5rem;}
        td:last-of-type {border-radius: 0 0 .5rem 0;}
    }
}
.edit {
    color: inherit;
}

.edit:hover {
    color: #1b1;
}

.trash:hover {
    color: #f00;
    cursor:pointer;
}

#edit-col {
    width: 10%;
    text-align: center;
}

.icon {
    text-align: center;
    display: flex;
    flex-direction: row;
}

.icon * {
    transition-duration: .15s;
    display: block;
    width: 20pt;
    height: inherit;
    padding-right: 5px;
}

.pagination-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
    padding-right: 30px;
}

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.page-info {
    margin: 0 10px;
    display: flex;
    align-items: center;
}

.pagination button {
    background-color: #fff;
    color: #111827;
    border: none;
    padding: 8px 12px;
    border-radius: 0.5rem;
    cursor: pointer;
    margin: 0 2px;
}
.pagination button:hover {
    background-color: #c9c9c9;
}

.pagination button:disabled {
    background-color: #a7a7a7;
    color: #262d3b;
    cursor: not-allowed;
}

.pagination button.active {
    background-color: #e3e3e3;
    color: #111827;
}

.pagination button.active:hover {
    background-color: #c9c9c9;
}

.pagination button:first-of-type {
    background-color: #ffffff;
}
.pagination button:last-of-type {
    background-color: #ffffff;
    margin-right: 0;
}
.pagination button:first-of-type:hover {
    background-color: #c9c9c9;
}
.pagination button:last-of-type:hover {
    background-color: #c9c9c9;
}
