$gray-background: #d5d5d5;
$white-background: #f7f7f7;

$hover-muted-red: #9a3c2b;
$hover-muted-blue: #3e5c7f;
$hover-muted-green: #718d4a;
$hover-muted-yellow: #b29e44;
$hover-muted-purple: #643b77;

$muted-red: #c74d37;
$muted-blue: #597da5;
$muted-green: #97bb63;
$muted-yellow: #dac151;
$muted-purple: #8650a0;

$soft-gray: #b1b3b2;
$accent-blue: #6c8ea2;
$accent-green: #a3b38b;

$text-gray: #4d4f4e;
$divider-gray: #d7d7d7;

$white: #fafafa;
$black: #1a1a1a;