
.input-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 10px;
    align-items: center;
    justify-content: block-end;
}

.form-icon {
    height: 10vh;
    width: 100%;
    aspect-ratio: 1 / 1;
    background-image: url(logo.svg);
    background-size: auto 90%;
    background-repeat: no-repeat;
    background-position: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content !important;
    height: auto;
    
    border-radius: 5px;
    padding: 1rem 2rem;
    gap: 1rem;
    background-color: #eeeeee;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.form-container > label {
    font-size: 4vh;
    color: #333;
    text-align: center;
}

.styled-input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 2vh;
    width: 100%;
    border: 1px solid #333;
}

.styled-dropdown {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1.875vh;
    width: 100%;
    border: 1px solid #333;
}

.styled-dropdown-option {
    color: #090909;
}

.styled-dropdown-placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.styled-checkbox {
    width: 2.5vh;
    height: 2.5vh;
}

.checkbox-label {
    text-align: left;
}

.checkbox-input-container {
    align-items: center;
    display: flex;
}